header, section, aside, footer, body  {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

section {
	font: 1.2em "Fira Sans", sans-serif;

}

.header {
	width: 100%;
	background:  #80ffaa;
}

/*.content_graph {
	width: 20%;
}
*/

.content_section {
	margin-left: 50%;
}

table, td, th {
  border: 1px solid;
  border-color: #A9A9A9;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
}

.tb_total{
	font: 5em "Fira Sans", sans-serif;
}

.tb_total_header {
	background: black;
	color: white;
	font: 2em "Fira Sans", sans-serif;
}

.table_2_header {
	background: black;
	color: white;
	font: 1.5em 
} 
.table_2_header >th {
	padding: 10px;
}

img {

border-radius: 50%;
transform: scale(0.6);
 	

}


.logo {
	padding: 0 0 0 20;
	font: 1.5em "Fira Sans", sans-serif;
	align-items: center;
}

p {
	margin: 0 0 20 0;
	padding: 0 0 0 20;
}
