{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/stylesheet.css">
	<title> KanalService </title>
</head>
<body>
	<header class='header' >
		<div class='logo'>
			<img src="static/photo_2022-07-14 20.59.18.jpeg">
			<p>Каналсервис</p>
	</div>
	</header>
	<div class='content'>
		<section class='content_section'>
			<div class="contetn_section_total"> 
				<table>
					<tr>
						<th class="tb_total_header">TOTAL</th>
					</tr>
					<tr class="tb_total">
						<td> {{ total }} </td>
					</tr>
				</table>
			</div>
			
			<div class="contetn_div">
				<table>

					<tr class='table_2_header'>
						<th>№</th>
						<th width=200px >Заказ №</th>
						<th width=200px>Стоимость, $</th>
						<th width=200px>Срок поставки</th>
						<th width=200px>Стоимость, Rub</th>

				{% for order in orders %}
					</tr>
						{% for item in order %}
							<td> {{ item }} </td>
						{% endfor %}
					</tr>
				{% endfor %}


				</table>
			</div>
		</section>
	</div>

</body>
</html>